.blog-box{
margin-top: 120px;
display: flex;
justify-content: space-between;
 @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.blog-box-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     @media (max-width: 1000px) {
        margin-bottom: 80px;
    }
}
.blog-box-left-box{
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}
.blog-box-left-box-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 62px;
line-height: 110%;
letter-spacing: -0.03em;
color: var(--content-primary);
max-width: 450px;
 @media (max-width: 580px) {
       text-align: center;
    }
}
.blog-box-left-box-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 144%;
letter-spacing: 0em;
color: var(--content-secondary);
max-width: 440px;
 @media (max-width: 1000px) {
        margin-bottom: 40px;
    }
     @media (max-width: 580px) {
       text-align: center;
    }
}
.blog-box-left-btn{
    font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 133%;
letter-spacing: 0em;
color: var(--content-primary);
border: 1px solid var(--background-dark-green);
border-radius: 200px;
padding: 16px 24px;
width: 101px;
height: 56px;
background: transparent;
  @media (max-width: 580px) {
margin: 0 auto;
    }
}
.blog-box-right-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.blog-box-right-list-item{
    display: flex;
    align-items: center;
    gap: 32px;
     @media (max-width: 580px) {
        flex-direction: column;
    }
}
.blog-box-right-list-item-right-title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
line-height: 150%;
letter-spacing: -0.01em;
color: var(--content-primary);
max-width: 346px;
margin-bottom: 24px;
  @media (max-width: 580px) {
       text-align: center;
    }
}
.blog-box-right-list-item-right-box{
    display: flex;
    align-items: center;
    gap: 16px;
     @media (max-width: 580px) {
      justify-content: center;
      
    }
}
.blog-box-right-list-item-right-box-title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 143%;
letter-spacing: 0em;
color: var(--content-primary);
display: flex;
align-items: center;
gap: 16px;
}
.blog-box-right-list-item-right-box-title::after {
display: block;
content: "";
border-radius: 100%;
width: 4px;
height: 4px;
background: var(--content-low-contrast);
}
.blog-box-right-list-item-right-box-text{
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 143%;
letter-spacing: 0em;
color: var(--content-primary);
}