.footer {
  background: var(--background-dark-green);
}
.footer-top {
  display: flex;
  justify-content: space-between;
       @media (max-width: 1100px) {
        justify-content: center;
flex-direction: column;
align-items: center;
    }
}
.footer-top-left-title {
  margin-top: 72px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-reversed);
  max-width: 560px;
  margin-bottom: 24px;
         @media (max-width: 1100px) {
text-align: center;
    }
}
.footer-top-left-text {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 560px;
           @media (max-width: 1100px) {
text-align: center;
    }
}
.footer-top-left-box {
  display: flex;
  align-items: center;
  gap: 8px;
         @media (max-width: 1100px) {
margin-bottom: 80px;
flex-direction: column;
    }
}
.footer-top-left-box-input {
  border-radius: 200px;
  padding: 16px 20px;
  width: 371px;
  height: 56px;
  box-shadow: 0 0 0 1px rgba(2, 44, 34, 0.13), 0 1px 2px 0 rgba(2, 44, 34, 0.08);
  background: var(--content-reversed);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-secondary);
           @media (max-width: 400px) {
            width: 250px;
    }

}
.footer-top-left-box-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border-radius: 200px;
  padding: 16px 24px;
  width: 149px;
  height: 56px;
  background: var(--background-green);
           @media (max-width: 560px) {
display: block;
    }
}
.footer-top-right {
  position: relative;
}
.footer-top-right-border-span {
  display: block;
  border-radius: 500px;
  width: 452px;
  height: 452px;
  background: var(--background-green);
           @media (max-width:520px) {
display: none;
    }
}
.footer-top-right-img {
  position: absolute;
  top: 0;
  right: 0;
           @media (max-width: 510px) {
display: none;
    }
}
.footer-bottom {
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}
.footer-bottom-logo-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 202px;
     @media (max-width: 1200px) {
    margin: 0 auto;
    }
}
.footer-bottom-logo-box-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--content-reversed);
}
.footer-bottom-box {
  display: flex;
     @media (max-width: 1200px) {
        margin: 0 auto;
     margin-top: 60px;
     margin-bottom: 60px;
    }
             @media (max-width: 510px) {
flex-direction: column;
    }
}
.mr-115 {
  margin-right: 115px;

}
.mr-85 {
  margin-right: 85px;
}
.footer-bottom-box-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

}
.footer-bottom-box-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-reversed);
 
}
.footer-bottom-list-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: lightgray;
  text-decoration: none;

}
.footer-bottom-list-item-link-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-bottom-list-item-link-box-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--background-dark-green);
  background: var(--background-green);
  border-radius: 6px;
  padding: 2px 8px;
  width: 59px;
  height: 22px;
  border: none;

}
.footer-bottom-list-media {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 145px;
       @media (max-width: 1200px) {
  margin: 0 auto;
    }
}
.footer-bottom-list-media-item-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  padding: 4px;
  width: 256px;
  height: 56px;
  background: var(--border-transparent-white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-reversed);
}
.footer-bottom-list-media-item-btn-img {
  display: block;
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 100px;
  background: var(--background-green);
  border: none;
}
.footer-bottom-rights {
  position: relative;
}
.footer-bottom-rights-img {
  position: absolute;
  bottom: 0;
  left: -100px;
           @media (max-width: 760px) {
display: none;
    }
}
.footer-bottom-rights-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: lightgrey;
  text-align: end;
  margin-top: 179px;
  padding-bottom: 55px;
           @media (max-width: 760px) {
text-align: center;
    }
}
