.container{
    max-width: 1216px;
    margin: 0 auto;
}
@import "./reset";
@import "./header";
@import "./energy";
@import "./future";
@import "./about";
@import "./experts";
@import "./reviews";
@import "./commitment";
@import "./answers";
@import "./blog";
@import "./faq";
@import "./footer";