.container {
  max-width: 1216px;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --content-primary: #1d1f1e;
  --content-secondary: #646a69;
  --content-low-contrast: #929c9a;
  --content-reversed: #fff;
  --content-error: #dc2626;
  --content-success: #059669;
  --background-dark-green: #022c22;
  --background-beige: #fff7ed;
  --background-green: #bef264;
  --background-grey: #f5faf9;
  --background-white: #fff;
  --background-hover: #edf2f1;
  --background-pressed: #d9dedd;
  --background-disabled: #f5faf9;
  --border-solid: #d9dedd;
  --border-transparent-white: rgba(255, 255, 255, 0.24);
  --border-transparent-dark: rgba(29, 31, 30, 0.24);
  --border-disabled: #edf2f1;
  --button-primary-normal: #022c22;
  --button-primary-hover: #064e3b;
  --button-primary-disabled: #aeb5b4;
  --button-secondary-normal: #bef264;
  --button-secondary-hover: #a3e635;
  --button-secondary-disabled: #aeb5b4;
  --button-tetriary-normal: #022c22;
  --button-tetriary-hover: #757978;
  --button-tetriary-disabled: #aeb5b4;
  --button-tetriary-reversed-normal: #fff;
  --button-tetriary-reversed-hover: rgba(255, 255, 255, 0.72);
  --button-tetriary-reversed-disabled: #aeb5b4;
}

:root {
  --bg: #f7ecd6;
  --accent: #b94a3a;
  --muted: #6b6b6b;
  --card-gap: 18px;
  --green: #2f5f4a;
}

.header {
  background: var(--background-dark-green);
  padding-top: 28px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-burger {
  display: none;
  justify-content: flex-end;
  position: relative;
}
@media (max-width: 600px) {
  .header-burger {
    display: flex;
  }
}

.header-burger-menu {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-burger-menu > span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
}

.header-burger-menu-bg {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.5s ease-in;
  overflow: hidden;
}

.header-burger-menu-bg-list {
  list-style: none;
  padding: 0;
  color: aliceblue;
  text-align: center;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-burger-menu-bg.active {
  height: 100vh;
  overflow: visible;
}

.header-burger-menu-close-menu {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: aliceblue;
}

.header-top-box {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 600px) {
  .header-top-box {
    display: none;
  }
}

.header-top-box-logo-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-top-box-logo-box-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--content-reversed);
}

.header-top-box-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-top-box-list-item-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--content-reversed);
  text-decoration: none;
}

.header-top-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--content-reversed);
  border: 1px solid var(--content-reversed);
  border-radius: 200px;
  padding: 12px 20px;
  width: 129px;
  height: 48px;
  background: transparent;
}

.header-middle {
  margin-top: 96px;
  position: relative;
}

.header-middle::after {
  content: "";
  display: block;
  width: 100%;
  height: 358px;
  background: linear-gradient(0deg, #022c22 0%, rgba(2, 44, 34, 0) 100%);
  position: absolute;
  bottom: -80%;
  left: 0;
}

.header-middle-sub-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-middle-sub-box-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-reversed);
}

.header-middle-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 96px;
  line-height: 94%;
  letter-spacing: -0.05em;
  text-align: center;
  color: var(--content-reversed);
  margin: 0 auto;
  max-width: 592px;
  margin-top: 24px;
  margin-bottom: 32px;
}
@media (max-width: 400px) {
  .header-middle-title {
    font-size: 68px;
  }
}

.header-middle-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  color: var(--content-reversed);
  max-width: 542px;
  margin-bottom: 40px;
}

.header-middle-box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-middle-box-btn-solutions {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border-radius: 200px;
  padding: 16px 24px;
  width: 187px;
  height: 56px;
  background: var(--background-green);
}

.header-middle-box-btn-touch {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-reversed);
  border: 1px solid var(--content-reversed);
  border-radius: 200px;
  padding: 16px 24px;
  width: 149px;
  height: 56px;
  background: transparent;
}

.header-middle-img-1 {
  position: absolute;
  top: 64px;
  left: 0;
}
@media (max-width: 1200px) {
  .header-middle-img-1 {
    display: none;
  }
}

.header-middle-img-2 {
  position: absolute;
  top: 520px;
  left: 216px;
}
@media (max-width: 1200px) {
  .header-middle-img-2 {
    position: static;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: -180px;
  }
}

.header-middle-img-3 {
  position: absolute;
  top: 14px;
  right: 0;
}
@media (max-width: 1200px) {
  .header-middle-img-3 {
    display: none;
  }
}

.header-middle-img-4 {
  position: absolute;
  top: 430px;
  right: 80px;
}
@media (max-width: 1200px) {
  .header-middle-img-4 {
    display: none;
  }
}

.header-bottom {
  margin-top: 382px;
  padding-bottom: 80px;
}

.header-bottom-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-align: center;
  margin: 0 auto;
  color: var(--content-reversed);
  max-width: 440px;
  margin-bottom: 64px;
}

.header-bottom-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
@media (max-width: 900px) {
  .header-bottom-list {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.header-bottom-list-item {
  border-radius: 8px;
  width: 419px;
  height: 88px;
  background: var(--border-transparent-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .header-bottom-list-item {
    width: 389px;
    margin: 0 auto;
  }
}

.header-bottom-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--content-primary);
  text-decoration: none;
}

.energy-box {
  display: flex;
  justify-content: space-between;
  margin-top: 104px;
}
@media (max-width: 1000px) {
  .energy-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.energy-box-left-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--content-primary);
  max-width: 450px;
  margin-bottom: 88px;
}
@media (max-width: 1000px) {
  .energy-box-left-title {
    text-align: center;
  }
}

.energy-box-left-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.energy-box-left-list-item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--content-low-contrast);
  max-width: 246px;
}
@media (max-width: 1000px) {
  .energy-box-left-list-item-title {
    text-align: center;
    margin: 0 auto;
  }
}

.energy-box-left-list-item-box {
  display: flex;
  flex-direction: column;
}

.energy-box-left-list-item-box-title-bl {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
  margin-bottom: 32px;
  max-width: 246px;
  position: relative;
}
@media (max-width: 1000px) {
  .energy-box-left-list-item-box-title-bl {
    text-align: center;
    margin: 0 auto;
  }
}

.energy-box-left-list-item-box-title-bl::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid var(--content-primary);
  width: 278px;
  margin-top: 16px;
}
@media (max-width: 750px) {
  .energy-box-left-list-item-box-title-bl::before {
    display: none;
  }
}

.energy-box-left-list-item-box-title-bl::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--background-pressed);
  width: 488px;
  margin-top: 16px;
}
@media (max-width: 750px) {
  .energy-box-left-list-item-box-title-bl::after {
    display: none;
  }
}

.energy-box-left-list-item-box-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 430px;
  margin-bottom: 16px;
}
@media (max-width: 1000px) {
  .energy-box-left-list-item-box-text {
    text-align: center;
  }
}

.energy-box-left-list-item-box-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--background-dark-green);
  text-decoration: none;
}
@media (max-width: 1000px) {
  .energy-box-left-list-item-box-link {
    text-align: center;
  }
}

.energy-box-right-img {
  display: block;
  width: 100%;
}

.future {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 104px;
  padding: 64px 96px 104px;
  background: var(--background-beige);
  border-radius: 24px;
}

.future-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.future-subtitle::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--background-dark-green);
  margin-right: 8px;
}

.future-subtitle::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--background-pressed);
  margin-top: 16px;
  margin-bottom: 56px;
}

.future-box {
  display: flex;
  gap: 240px;
}
@media (max-width: 940px) {
  .future-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
}

.future-box-left-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
  max-width: 592px;
  margin-bottom: 24px;
}
@media (max-width: 940px) {
  .future-box-left-title {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .future-box-left-title {
    font-size: 48px;
  }
}

.future-box-left-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 532px;
}
@media (max-width: 940px) {
  .future-box-left-text {
    text-align: center;
  }
}

.future-box-right-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
  flex-wrap: wrap;
}

.future-box-right-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.future-box-right-list-item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
}
@media (max-width: 940px) {
  .future-box-right-list-item-title {
    text-align: center;
  }
}

.future-box-right-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
}
@media (max-width: 940px) {
  .future-box-right-list-item-text {
    text-align: center;
  }
}

.about {
  padding-top: 104px;
  padding-bottom: 110px;
  background-image: url(/img/Lines.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.about-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--content-primary);
  margin-bottom: 32px;
}

.about-text {
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--content-primary);
  max-width: 720px;
}

.about-btn {
  display: block;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border: 1px solid var(--background-dark-green);
  border-radius: 200px;
  padding: 16px 24px;
  width: 135px;
  height: 56px;
  background: transparent;
  margin-top: 40px;
}

.experts-title {
  text-align: center;
  margin-top: 104px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
}

.experts-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  color: var(--content-secondary);
  max-width: 640px;
  margin-top: 16px;
  margin-bottom: 136px;
}

.experts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 148px;
  flex-wrap: wrap;
}
@media (max-width: 560px) {
  .experts-list {
    flex-direction: column;
  }
}

.experts-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% - 296px) / 3);
}
@media (max-width: 1100px) {
  .experts-list-item {
    width: calc((100% - 296px) / 2);
  }
}

.experts-list-item-box {
  display: block;
  border-radius: 12px;
  width: 152px;
  height: 152px;
  background: var(--background-green);
}

.experts-list-item-box-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 143px;
  height: 143px;
  padding-top: 4px;
}

.experts-list-item-title {
  margin-top: 32px;
  margin-bottom: 4px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--content-primary);
}

.experts-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--content-secondary);
}

.reviews {
  margin-top: 104px;
  background: var(--background-dark-green);
  padding-bottom: 104px;
}

.reviews-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-reversed);
  align-items: center;
  padding-top: 64px;
  margin-bottom: 56px;
}

.reviews-subtitle::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--background-green);
  margin-right: 8px;
}

.reviews-subtitle::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--border-transparent-white);
  margin-top: 16px;
}

.reviews-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-reversed);
  margin-bottom: 88px;
}

.reviews-wrapper {
  position: relative;
  overflow: hidden;
}

.reviews-wrapper-scroll {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-wrapper-scroll::-webkit-scrollbar {
  display: none;
}

.reviews-wrapper-scroll-list {
  display: flex;
  gap: 32px;
  width: -moz-max-content;
  width: max-content;
  scroll-snap-type: x mandatory;
  scroll-padding-left: calc((100vw - 1216px) / 2);
  padding-left: calc((100vw - 1216px) / 2);
  padding-right: 40px;
}

.reviews-wrapper-scroll-list-item {
  border-radius: 16px;
  padding: 40px;
  width: 384px;
  height: 356px;
  box-shadow: 0 0 0 1px rgba(18, 105, 63, 0.08), 0 1px 2px 0 rgba(87, 92, 86, 0.16), 0 24px 24px -12px rgba(54, 74, 54, 0.06);
  background: var(--background-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
}

.reviews-wrapper-scroll-list-item-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--content-primary);
  max-width: 290px;
}

.reviews-wrapper-scroll-list-item-box {
  display: flex;
  align-items: center;
  gap: 24px;
}

.reviews-wrapper-scroll-list-item-box-right-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--content-primary);
  margin-bottom: 4px;
}

.reviews-wrapper-scroll-list-item-box-right-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.reviews-wrapper-scroll-line {
  position: relative;
  width: 100%;
  height: 2px;
  margin-top: 48px;
}

.reviews-wrapper-scroll-line-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 1216px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  right: 0;
}

.commitment-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 76px;
  line-height: 105%;
  letter-spacing: -0.03em;
  text-align: center;
  margin: 0 auto;
  color: var(--content-primary);
  max-width: 900px;
  margin-top: 140px;
}
@media (max-width: 500px) {
  .commitment-title {
    font-size: 58px;
  }
}

.commitment-btn {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-reversed);
  border-radius: 200px;
  padding: 16px 24px;
  width: 149px;
  height: 56px;
  background: var(--background-dark-green);
  margin: 0 auto;
  margin-top: 64px;
}

.answers {
  margin-top: 156px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 24px;
  padding: 64px 96px;
  background: var(--background-beige);
}

.answers-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.answers-subtitle::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--background-green);
  margin-right: 8px;
}

.answers-subtitle::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--background-pressed);
  padding: 0px 0px 16px;
}

.answers-box {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}
@media (max-width: 1200px) {
  .answers-box {
    flex-direction: column;
  }
}

.answers-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .answers-box-left {
    justify-content: center;
    align-items: center;
  }
}

.answers-box-left-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
  max-width: 440px;
}
@media (max-width: 1200px) {
  .answers-box-left-title {
    text-align: center;
    margin-bottom: 40px;
  }
}

.answers-box-left-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border: 1px solid var(--background-dark-green);
  border-radius: 200px;
  padding: 16px 24px;
  width: 165px;
  height: 56px;
  background: transparent;
}
@media (max-width: 1200px) {
  .answers-box-left-btn {
    margin-bottom: 80px;
  }
}

.answers-box-right-list {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
@media (max-width: 1200px) {
  .answers-box-right-list {
    justify-content: center;
    align-items: center;
  }
}

.answers-box-right-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.answers-box-right-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
}
@media (max-width: 1200px) {
  .answers-box-right-list-item-title {
    text-align: center;
  }
}

.answers-box-right-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 550px;
}
@media (max-width: 1200px) {
  .answers-box-right-list-item-text {
    text-align: center;
  }
}

.blog-box {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .blog-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.blog-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .blog-box-left {
    margin-bottom: 80px;
  }
}

.blog-box-left-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-box-left-box-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
  max-width: 450px;
}
@media (max-width: 580px) {
  .blog-box-left-box-title {
    text-align: center;
  }
}

.blog-box-left-box-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 440px;
}
@media (max-width: 1000px) {
  .blog-box-left-box-text {
    margin-bottom: 40px;
  }
}
@media (max-width: 580px) {
  .blog-box-left-box-text {
    text-align: center;
  }
}

.blog-box-left-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border: 1px solid var(--background-dark-green);
  border-radius: 200px;
  padding: 16px 24px;
  width: 101px;
  height: 56px;
  background: transparent;
}
@media (max-width: 580px) {
  .blog-box-left-btn {
    margin: 0 auto;
  }
}

.blog-box-right-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blog-box-right-list-item {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 580px) {
  .blog-box-right-list-item {
    flex-direction: column;
  }
}

.blog-box-right-list-item-right-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--content-primary);
  max-width: 346px;
  margin-bottom: 24px;
}
@media (max-width: 580px) {
  .blog-box-right-list-item-right-title {
    text-align: center;
  }
}

.blog-box-right-list-item-right-box {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 580px) {
  .blog-box-right-list-item-right-box {
    justify-content: center;
  }
}

.blog-box-right-list-item-right-box-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-primary);
  display: flex;
  align-items: center;
  gap: 16px;
}

.blog-box-right-list-item-right-box-title::after {
  display: block;
  content: "";
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background: var(--content-low-contrast);
}

.blog-box-right-list-item-right-box-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.faq {
  margin-top: 104px;
  margin-bottom: 104px;
}

.faq-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--content-primary);
  margin-bottom: 24px;
}

.faq-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--content-secondary);
  margin-bottom: 88px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-list-item::before {
  display: block;
  content: "";
  border-top: 2px solid var(--background-green);
  padding: 24px 0px 0px;
  max-width: 696px;
}

.faq-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.faq-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 630px;
}

.footer {
  background: var(--background-dark-green);
}

.footer-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .footer-top {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.footer-top-left-title {
  margin-top: 72px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-reversed);
  max-width: 560px;
  margin-bottom: 24px;
}
@media (max-width: 1100px) {
  .footer-top-left-title {
    text-align: center;
  }
}

.footer-top-left-text {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 560px;
}
@media (max-width: 1100px) {
  .footer-top-left-text {
    text-align: center;
  }
}

.footer-top-left-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1100px) {
  .footer-top-left-box {
    margin-bottom: 80px;
    flex-direction: column;
  }
}

.footer-top-left-box-input {
  border-radius: 200px;
  padding: 16px 20px;
  width: 371px;
  height: 56px;
  box-shadow: 0 0 0 1px rgba(2, 44, 34, 0.13), 0 1px 2px 0 rgba(2, 44, 34, 0.08);
  background: var(--content-reversed);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-secondary);
}
@media (max-width: 400px) {
  .footer-top-left-box-input {
    width: 250px;
  }
}

.footer-top-left-box-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border-radius: 200px;
  padding: 16px 24px;
  width: 149px;
  height: 56px;
  background: var(--background-green);
}
@media (max-width: 560px) {
  .footer-top-left-box-btn {
    display: block;
  }
}

.footer-top-right {
  position: relative;
  z-index: 1;
}

.footer-top-right-border-span {
  display: block;
  border-radius: 500px;
  width: 452px;
  height: 452px;
  background: var(--background-green);
}
@media (max-width: 520px) {
  .footer-top-right-border-span {
    display: none;
  }
}

.footer-top-right-img {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 510px) {
  .footer-top-right-img {
    display: none;
  }
}

.footer-bottom {
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
}

.footer-bottom-logo-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 202px;
}
@media (max-width: 1200px) {
  .footer-bottom-logo-box {
    margin: 0 auto;
  }
}

.footer-bottom-logo-box-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--content-reversed);
}

.footer-bottom-box {
  display: flex;
}
@media (max-width: 1200px) {
  .footer-bottom-box {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 510px) {
  .footer-bottom-box {
    flex-direction: column;
  }
}

.mr-115 {
  margin-right: 115px;
}

.mr-85 {
  margin-right: 85px;
}

.footer-bottom-box-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-bottom-box-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-reversed);
}

.footer-bottom-list-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: lightgray;
  text-decoration: none;
}

.footer-bottom-list-item-link-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-bottom-list-item-link-box-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--background-dark-green);
  background: var(--background-green);
  border-radius: 6px;
  padding: 2px 8px;
  width: 59px;
  height: 22px;
  border: none;
}

.footer-bottom-list-media {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 145px;
}
@media (max-width: 1200px) {
  .footer-bottom-list-media {
    margin: 0 auto;
  }
}

.footer-bottom-list-media-item-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  padding: 4px;
  width: 256px;
  height: 56px;
  background: var(--border-transparent-white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-reversed);
}

.footer-bottom-list-media-item-btn-img {
  display: block;
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 100px;
  background: var(--background-green);
  border: none;
}

.footer-bottom-rights {
  position: relative;
}

.footer-bottom-rights-img {
  position: absolute;
  bottom: 0;
  left: -100px;
}
@media (max-width: 760px) {
  .footer-bottom-rights-img {
    display: none;
  }
}

.footer-bottom-rights-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: lightgrey;
  text-align: end;
  margin-top: 179px;
  padding-bottom: 55px;
}
@media (max-width: 760px) {
  .footer-bottom-rights-text {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */