.container {
  max-width: 1216px;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --content-primary: #1d1f1e;
  --content-secondary: #646a69;
  --content-low-contrast: #929c9a;
  --content-reversed: #fff;
  --content-error: #dc2626;
  --content-success: #059669;
  --background-dark-green: #022c22;
  --background-beige: #fff7ed;
  --background-green: #bef264;
  --background-grey: #f5faf9;
  --background-white: #fff;
  --background-hover: #edf2f1;
  --background-pressed: #d9dedd;
  --background-disabled: #f5faf9;
  --border-solid: #d9dedd;
  --border-transparent-white: rgba(255, 255, 255, 0.24);
  --border-transparent-dark: rgba(29, 31, 30, 0.24);
  --border-disabled: #edf2f1;
  --button-primary-normal: #022c22;
  --button-primary-hover: #064e3b;
  --button-primary-disabled: #aeb5b4;
  --button-secondary-normal: #bef264;
  --button-secondary-hover: #a3e635;
  --button-secondary-disabled: #aeb5b4;
  --button-tetriary-normal: #022c22;
  --button-tetriary-hover: #757978;
  --button-tetriary-disabled: #aeb5b4;
  --button-tetriary-reversed-normal: #fff;
  --button-tetriary-reversed-hover: rgba(255, 255, 255, 0.72);
  --button-tetriary-reversed-disabled: #aeb5b4;
}

.header {
  background: var(--background-dark-green);
  padding-top: 28px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-box {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-top-box-logo-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-top-box-logo-box-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--content-reversed);
}

.header-top-box-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-top-box-list-item-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--content-reversed);
  text-decoration: none;
}

.header-top-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--content-reversed);
  border: 1px solid var(--content-reversed);
  border-radius: 200px;
  padding: 12px 20px;
  width: 129px;
  height: 48px;
  background: transparent;
}

.header-middle {
  margin-top: 96px;
  position: relative;
}

.header-middle-sub-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-middle-sub-box-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-reversed);
}

.header-middle-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 96px;
  line-height: 94%;
  letter-spacing: -0.05em;
  text-align: center;
  color: var(--content-reversed);
  margin: 0 auto;
  max-width: 592px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.header-middle-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  color: var(--content-reversed);
  max-width: 542px;
  margin-bottom: 40px;
}

.header-middle-box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-middle-box-btn-solutions {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border-radius: 200px;
  padding: 16px 24px;
  width: 187px;
  height: 56px;
  background: var(--background-green);
}

.header-middle-box-btn-touch {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-reversed);
  border: 1px solid var(--content-reversed);
  border-radius: 200px;
  padding: 16px 24px;
  width: 149px;
  height: 56px;
  background: transparent;
}

.header-middle-img-1 {
  position: absolute;
  top: 64px;
  left: 0;
}

.header-middle-img-2 {
  position: absolute;
  top: 520px;
  left: 216px;
}

.header-middle-img-3 {
  position: absolute;
  top: 14px;
  right: 0;
}

.header-middle-img-4 {
  position: absolute;
  top: 430px;
  right: 80px;
}

.header-bottom {
  margin-top: 382px;
  padding-bottom: 80px;
}

.header-bottom-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-align: center;
  margin: 0 auto;
  color: var(--content-reversed);
  max-width: 440px;
  margin-bottom: 64px;
}

.header-bottom-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.header-bottom-list-item {
  border-radius: 8px;
  width: 419px;
  height: 88px;
  background: var(--border-transparent-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--content-primary);
  text-decoration: none;
}

.energy-box {
  display: flex;
  justify-content: space-between;
  margin-top: 104px;
}

.energy-box-left-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--content-primary);
  max-width: 450px;
  margin-bottom: 88px;
}

.energy-box-left-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.energy-box-left-list-item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--content-low-contrast);
}

.energy-box-left-list-item-box {
  display: flex;
  flex-direction: column;
}

.energy-box-left-list-item-box-title-bl {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
  margin-bottom: 32px;
}

.energy-box-left-list-item-box-title-bl::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--background-pressed);
  width: 488px;
  margin-top: 16px;
}

.energy-box-left-list-item-box-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 430px;
  margin-bottom: 16px;
}

.energy-box-left-list-item-box-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--background-dark-green);
  text-decoration: none;
}

.future {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 104px;
  padding: 64px 96px 104px;
  background: var(--background-beige);
  border-radius: 24px;
}

.future-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.future-subtitle::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--background-dark-green);
  margin-right: 8px;
}

.future-subtitle::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--background-pressed);
  margin-top: 16px;
  margin-bottom: 56px;
}

.future-box {
  display: flex;
  gap: 240px;
}

.future-box-left-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
  max-width: 592px;
  margin-bottom: 24px;
}

.future-box-left-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 532px;
}

.future-box-right-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.future-box-right-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.future-box-right-list-item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
}

.future-box-right-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
}

.about {
  margin-top: 104px;
  background-image: url(/img/Lines.png);
}

.about-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--content-primary);
  margin-bottom: 32px;
}

.about-text {
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--content-primary);
  max-width: 720px;
}

.about-btn {
  display: block;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border: 1px solid var(--background-dark-green);
  border-radius: 200px;
  padding: 16px 24px;
  width: 135px;
  height: 56px;
  background: transparent;
  margin-top: 40px;
}

.experts-title {
  text-align: center;
  margin-top: 104px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
}

.experts-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  color: var(--content-secondary);
  max-width: 640px;
  margin-top: 16px;
  margin-bottom: 136px;
}

.experts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 148px;
  flex-wrap: wrap;
}

.experts-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% - 296px) / 3);
}

.experts-list-item-box {
  display: block;
  border-radius: 12px;
  width: 152px;
  height: 152px;
  background: var(--background-green);
}

.experts-list-item-box-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 143px;
  height: 143px;
  padding-top: 4px;
}

.experts-list-item-title {
  margin-top: 32px;
  margin-bottom: 4px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--content-primary);
}

.experts-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--content-secondary);
}

.reviews {
  margin-top: 104px;
  background: var(--background-dark-green);
  padding-bottom: 104px;
}

.reviews-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-reversed);
  align-items: center;
  padding-top: 64px;
  margin-bottom: 56px;
}

.reviews-subtitle::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--background-green);
  margin-right: 8px;
}

.reviews-subtitle::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--border-transparent-white);
  margin-top: 16px;
}

.reviews-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-reversed);
  margin-bottom: 88px;
}

.reviews-wrapper {
  position: relative;
  overflow: hidden;
}

.reviews-wrapper-scroll {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-wrapper-scroll::-webkit-scrollbar {
  display: none;
}

.reviews-wrapper-scroll-list {
  display: flex;
  gap: 32px;
  width: -moz-max-content;
  width: max-content;
  scroll-snap-type: x mandatory;
  scroll-padding-left: calc((100vw - 1216px) / 2);
  padding-left: calc((100vw - 1216px) / 2);
  padding-right: 40px;
}

.reviews-wrapper-scroll-list-item {
  border-radius: 16px;
  padding: 40px;
  width: 384px;
  height: 356px;
  box-shadow: 0 0 0 1px rgba(18, 105, 63, 0.08), 0 1px 2px 0 rgba(87, 92, 86, 0.16), 0 24px 24px -12px rgba(54, 74, 54, 0.06);
  background: var(--background-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
}

.reviews-wrapper-scroll-list-item-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--content-primary);
  max-width: 290px;
}

.reviews-wrapper-scroll-list-item-box {
  display: flex;
  align-items: center;
  gap: 24px;
}

.reviews-wrapper-scroll-list-item-box-right-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--content-primary);
  margin-bottom: 4px;
}

.reviews-wrapper-scroll-list-item-box-right-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.reviews-wrapper-scroll-line {
  position: relative;
  width: 100%;
  height: 2px;
  margin-top: 48px;
}

.reviews-wrapper-scroll-line-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 1216px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  right: 0;
}

.commitment-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 76px;
  line-height: 105%;
  letter-spacing: -0.03em;
  text-align: center;
  margin: 0 auto;
  color: var(--content-primary);
  max-width: 900px;
  margin-top: 140px;
}

.commitment-btn {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-reversed);
  border-radius: 200px;
  padding: 16px 24px;
  width: 149px;
  height: 56px;
  background: var(--background-dark-green);
  margin: 0 auto;
  margin-top: 64px;
}

.answers {
  margin-top: 156px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 24px;
  padding: 64px 96px;
  background: var(--background-beige);
}

.answers-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.answers-subtitle::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--background-green);
  margin-right: 8px;
}

.answers-subtitle::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--background-pressed);
  padding: 0px 0px 16px;
}

.answers-box {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

.answers-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answers-box-left-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
  max-width: 440px;
}

.answers-box-left-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border: 1px solid var(--background-dark-green);
  border-radius: 200px;
  padding: 16px 24px;
  width: 165px;
  height: 56px;
  background: transparent;
}

.answers-box-right-list {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.answers-box-right-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.answers-box-right-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.answers-box-right-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 550px;
}

.blog-box {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.blog-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-box-left-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-box-left-box-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-primary);
  max-width: 450px;
}

.blog-box-left-box-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 440px;
}

.blog-box-left-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border: 1px solid var(--background-dark-green);
  border-radius: 200px;
  padding: 16px 24px;
  width: 101px;
  height: 56px;
  background: transparent;
}

.blog-box-right-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blog-box-right-list-item {
  display: flex;
  align-items: center;
  gap: 32px;
}

.blog-box-right-list-item-right-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--content-primary);
  max-width: 346px;
  margin-bottom: 24px;
}

.blog-box-right-list-item-right-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.blog-box-right-list-item-right-box-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-primary);
  display: flex;
  align-items: center;
  gap: 16px;
}

.blog-box-right-list-item-right-box-title::after {
  display: block;
  content: "";
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background: var(--content-low-contrast);
}

.blog-box-right-list-item-right-box-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.faq {
  margin-top: 104px;
  margin-bottom: 104px;
}

.faq-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--content-primary);
  margin-bottom: 24px;
}

.faq-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--content-secondary);
  margin-bottom: 88px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-list-item::before {
  display: block;
  content: "";
  border-top: 2px solid var(--background-green);
  padding: 24px 0px 0px;
  width: 696px;
}

.faq-list-item-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
}

.faq-list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 630px;
}

.footer {
  background: var(--background-dark-green);
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left-title {
  margin-top: 72px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--content-reversed);
  max-width: 560px;
  margin-bottom: 24px;
}

.footer-top-left-text {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: var(--content-secondary);
  max-width: 560px;
}

.footer-top-left-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-top-left-box-input {
  border-radius: 200px;
  padding: 16px 20px;
  width: 371px;
  height: 56px;
  box-shadow: 0 0 0 1px rgba(2, 44, 34, 0.13), 0 1px 2px 0 rgba(2, 44, 34, 0.08);
  background: var(--content-reversed);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--content-secondary);
}

.footer-top-left-box-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--content-primary);
  border-radius: 200px;
  padding: 16px 24px;
  width: 149px;
  height: 56px;
  background: var(--background-green);
}

.footer-top-right {
  position: relative;
}

.footer-top-right-border-span {
  display: block;
  border-radius: 500px;
  width: 452px;
  height: 452px;
  background: var(--background-green);
}

.footer-top-right-img {
  position: absolute;
  top: 0;
  right: 0;
}/*# sourceMappingURL=style.css.map */